@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body, html * {
  font-family: 'Roboto', sans-serif;
}
html, body {
    height: 100%;
  }

body {
    margin: 0;
    padding: 0;
    aspect-ratio: 960/560;
    background-image: url('https://raw.githubusercontent.com/jonasrht/LandingPage/8cc89a4f8b31a5d9666aaca67dcda7506e7f2b4b/img/layered-waves-haikei.svg?token=AK4VRI32MRMN5K7QPH3IMWTCDN5DM');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 200px auto 0 auto;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2em;
    img {
        width: 20%;
        object-fit: contain;
    }
    h1 {
        font-size: 70px;
    }
}

#over{
    height: 740px;
    width: 431px;
    position: relative;
    z-index: 1;
    background-image: url("https://github.com/jonasrht/LandingPage/blob/master/img/iphone.png?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
}

#over iframe {
    position: absolute;
    top: 40px;
    left: 55px;
    border: none;
    height: 884px;
    width: 429px;
    z-index: -1;
    border-radius: 5%;
    transform: scale(0.73);
    margin: calc((-884px) * (1 - 0.73) / 2)
    calc((-429px) * (1 - 0.73) / 2)
}

.btns {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;

    button {
        font-size: 18px;
        color: #fff;
        border: none;
        padding: 20px;
        border-radius: 3px;
    }
}

@media only screen and (max-width: 600px) {
  }